{% extends "layout.html" %}

{% block content %}
<h1>Compare RuneScape Stats</h1>
<form action="/skills" method="POST">
    <input type="text" name="usernames" placeholder="Enter first username">
    <input type="text" name="usernames" placeholder="Enter second username">
    <input type="text" name="usernames" placeholder="Enter third username">
    <input type="text" name="usernames" placeholder="Enter fourth username">
    <input type="text" name="usernames" placeholder="Enter fifth username">
    <button type="submit">Compare Stats</button>
</form>

{% if response_data %}
    <table>
        <thead>
            <tr>
                <th>Skill</th>
                {% for username in usernames %}
                    <th>{{ username }}<br>(Total level: {{ response_data[username]['Overall']['level'] }})</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for skill in skills %}
            <tr>
                <td>
                    <img src="{{ url_for('static', filename='icons/skill_icons/' ~ skill ~ '.png') }}" alt="{{ skill }} icon" class="skill-icon">
                    {{ skill }}
                </td>
                {% for username in usernames %}
                    <td class="{% if response_data[username][skill]['xp'] == max_xp_per_skill[skill] %}highlight-first{% endif %}">
                        Level: {{ response_data[username][skill]['level'] }}<br>
                        XP: {{ response_data[username][skill]['xp'] | format_xp }}<br>
                        Rank: {{ response_data[username][skill]['rank'] }}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endif %}
{% endblock %}
