<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare RuneScape Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <a href="/skills" class="btn">Skills</a>
            <a href="/quests" class="btn">Quests</a>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
