{% extends "layout.html" %}

{% block content %}
<h1>Compare RuneScape Quests</h1>

{% if quest_data %}
    <table>
        <thead>
            <tr>
                <th>Quest</th>
                <th>Points</th>
                {% for username in usernames %}
                    <th>
                        {{ username }}<br>
                        Quest Points: {{ quest_data[username]['total_quest_points'] }}<br>
                        Completed Quests: {{ quest_data[username]['total_completed'] }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for quest in quests %}
            <tr>
                <td>{{ quest.name }}</td>
                <td>{{ quest.points }}</td>
                {% for username in usernames %}
                    {% set completed = quest_data[username]['quests'] | selectattr('name', 'equalto', quest.name) | map(attribute='completed') | first %}
                    <td class="{% if completed %}highlight-first{% endif %}">{{ "Completed" if completed else "Incomplete" }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No quest data available.</p>
{% endif %}
{% endblock %}
